<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1> <%= @user.name %> </h1>
        <%= link_to "Edit/Delete Profile", edit_user_path(current_user)%>

    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.documents.any? %>
      <h3>Documents (<%= @user.documents.count %>)</h3>
        <ol class="documents">
          <%= render @documents %>
        </ol>
            <%= will_paginate @documents %>
        <% end %>
      </div>
  </div>

  <%= form_for(@document) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
        <%= f.text_area :title, placeholder: "title me..." %>
      <%= f.text_area :content, placeholder: "Compose new document..." %>
    </div>
    <%= f.submit "Post", class: "btn btn-primary" %>
  <% end %>
