<!DOCTYPE html>
<html>
  <head>
    <title>Textitor</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>



  <!--  <link rel="stylesheet" media="all" href="/assets/base/bootstrap.css"  type="text/scss"> -->
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>

  </head>


  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    <%= yield %>

    <%= debug(params) if Rails.env.development? %>
    </div>

  </body>
</html>
